<form action="/favourites" method="post" class="favorite-form">
    <button type="submit" class="btn-favorite" title="Add to favorites">
        <span class="favorite-icon">❤️</span>
        <span class="favorite-text">Add to Favorites</span>
    </button>
    <input type="hidden" name="id" value="<%= home.id %>">
</form>