<%- include ('../partials/header') %>
<body>
    <div class="site-wrap">
        <%- include ('../partials/nav') %>
        <main>
            <section class="card p-sm center">
                <h1>Bookings</h1>


                <p class="muted">Here is your bookings</p>
                <a class="btn spaced" href="/">Go back to Home</a>
            </section>
        </main>
    </div>
</body>
</html>